{% extends "base.html" %}
{% block title %}Trail Information{% endblock %}
{% block content %}
	{% for item1, item2 in values[0::2]|zip_longest(values[1::2])%}
		{% if item1 == None %}
			<div class="container">
				<div class="row justify-content-around">
				    <div class="col-6">
				    	
				      <h3>{{item2.front_name}}</h4>
				      <p>{{item2.open_}}</p>
				      <p>{{item2.closed}}</p>
				      <a href={{item2.fb_url}}>Facebook Group</a>
				    </div>
				  	<div class="col-6">
				    </div>
		  		</div>
		  	</div>
		{% elif item2 == None %}
			<div class="container">
				<div class="row justify-content-around">
				    <div class="col-6">
				      <h3>{{item1.front_name}}</h4>
				      <p>{{item1.open_}}</p>
				      <p>{{item1.closed}}</p>
				      <a href={{item1.fb_url}}>Facebook Group</a>
				    </div>
				    <div class="col-6">
				    </div>
		  		</div>
		  	</div>
		{% else %}
			<div class="container">
				<div class="row justify-content-around">
				    <div class="col-6">
				      <h3>{{item1.front_name}}</h4>
				      <p>{{item1.open_}}</p>
				      <p>{{item1.closed}}</p>
				      <a href={{item1.fb_url}}>Facebook Group</a>
				    </div>
				    <div class="col-6">
				      <h3>{{item2.front_name}}</h4>
				      <p>{{item2.open_}}</p>
				      <p>{{item2.closed}}</p>
				      <a href={{item2.fb_url}}>Facebook Group</a>
				    </div>
		  		</div>
		  	</div>
		{% endif %}
	{% endfor %}
{% endblock%}